div {
    margin: 5px;
}

ul {
    font-size: 10px;
}

.define:hover{
    background-color: rgb(210, 149, 254);
}
.translate:hover{
    background-color: rgb(210, 149, 254);
}
.part-of-speech:hover{
    background-color: rgb(210, 149, 254);
}

.show {
    display: auto;
  }

.btn {
    border: none;
    outline: none;
    margin-bottom: 20px;
    padding: 12px 16px;
    background-color: rgb(191, 110, 249);
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    /*font-size: 15px;*/
    /*font-weight: bolder;*/
    /*justify-content: center;*/
}

.btn:hover{
    background-color: aquamarine;
}

.btn.active {
    background-color: #666;
    color: white;
  }

.define {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    /*display: none;*/
}

.container {
    margin-top: 20px;
    overflow: hidden;
  }

.translate {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.part-of-speech {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.define-text {
    margin: 5px;
    font-size: 30px;
    width: 700px;
    height: 100%;
    align-items: flex-start;
}

.translate-text {
    margin: 5px;
    font-size: 30px;
    width: 700px;
    height: 50%;
    align-items: flex-start;
}

.part-of-speech-text {
    margin: 5px;
    font-size: 30px;
    width: 700px;
    height: 100%;
    align-items: flex-start;
}

.query-text {
    margin: 5px;
    font-size: 35px;
    width: 700px;
    height: 50%;
    align-items: flex-start;
}

.search-box {
    width:250px;
    height:30px;
    font-size: 25px;
    border: solid; 
    border-width: 3.5px;
    border-left-color:  rgb(190, 100, 249);
    border-top-color: rgb(190, 100, 249);
    border-right-color:  rgb(190, 100, 249);
    border-bottom-color: rgb(190, 100, 249);
    font-family: 'Times New Roman', Times, serif;
}

.search {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .define {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .translate {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .part-of-speech {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .query-text {
        margin: 10px;
        font-size: 20px;
        width: 235px;
        height: 50%;
        align-items: flex-start;
        font-weight:900;
    }

    .define-text {
        margin: 10px;
        font-size: 20px;
        width: 235px;
        height: 50%;
        align-items: flex-start;
        font-weight:900;
    }

    .translate-text {
        margin: 5px;
        font-size: 20px;
        width: 235px;
        height: 50%;
        align-items: flex-start;
        font-weight:900;
    }

    .part-of-speech-text {
        margin: 5px;
        font-size: 20px;
        width: 250px;
        height: 100%;
        align-items: flex-start;
        font-weight:900;
    }
}
